/* header */
header {
  background-color: #19baa4;
  color: #fff;
  padding: 10px 20px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin-left: 10px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 600;
}

.right {
  display: flex;
  align-items: center;
  position: relative;
}

.exit {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  right: -110px;
  top: -8px;
}

#groupName {
  margin: 0;
}

/* main */
.main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

#content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 10px;
}

.main h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.mainSection {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}
/* todo */

.todo-section .todo-input {
  border: 1px solid #ccc;
  padding: 7px;
  border-radius: 8px;
  margin-top: 20px;
}

.todo-section {
  height: 723px;
}

/* user-management */
.user-management-section {
  margin-top: 20px;
}

/* chat */

.chat-section .chatMember {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 100px;
  margin-bottom: 20px;
  padding: 7px;
  margin-right: 10px;
  font-size: 12px;
}
.chat-section .chat-messages {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 480px;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 12px;
  overflow-y: scroll;
  width: 300px;
  padding-right: 10px;
  margin-right: 10px;
}
.chat-section .chat-input {
  padding: 7px;
  /* position: relative;
  bottom: 25px; */
}

.chat-section {
  height: 723px;
}

.chat-section .chat-messages::-webkit-scrollbar {
  display: none;
}

#messageInput {
  width: 240px;
  height: 15px;
}

#sendRoomMessage {
  background-color: #19baa4;
  border-color: #19baa4;
  color: #fff;
  height: 38px;
}

.main .btn {
  padding: 6px 11px;
  background-color: #19baa4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.5s;
}
.main .btn:hover {
  background: none;
  color: #333;
  border: 1px solid #ccc;
}

.user-list li,
.todo-list li {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.todo-list p {
  text-align: center;
  font-weight: 700;
  font-size: 21px;
}

.myname {
  background-color: #19baa4;
  width: 50px;
  text-align: center;
  border-radius: 8px;
  margin-top: 10px;
  color: #fff;
}

.chatlog {
  padding-left: 15px;
  padding-top: 10px;
}

.user-management-section {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 0 10px;
  flex: 1;
  height: 100px;
  min-height: 700px;
}

.main-section {
  height: 680px;
  position: absolute;
  bottom: 30px;
  width: 600px;
  z-index: -1;
}

.todo-list div {
  width: 350px;
  border: 1px solid #ccc;
  margin-top: 15px;
  height: 180px;
  text-align: center;
  overflow-y: scroll;
}

.todo-list div::-webkit-scrollbar {
  display: none;
}

.card-title {
  color: #fff;
  background-color: #19baa4;
  margin: 0 auto;
  width: 80px;
  height: 30px;
  margin-top: 8px;
  border-radius: 18px;
  cursor: pointer;
  min-width: 80px;
  min-height: 30px;
  overflow: hidden;
  padding-top: 3px;
}

.card-title:hover {
  color: #000;
  border: 2px solid #19baa4;
  background-color: #fff;
}

.TODO {
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.IN_PROGRESS {
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.COMPLETED {
  display: flex;
  flex-wrap: wrap;
  float: left;
}

/* 모달 스타일 */
.modal {
  display: none; /* 모달 초기에는 숨김 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* 배경 투명도 조절 */
}

.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  height: 400px;
  min-width: 500px;
  position: relative;
}

.modal-content #Title {
  width: 200px;
}

.modal-content #Descript {
  width: 495px;
  height: 280px;
  overflow-y: scroll;
  resize: none;
}

.modal-content #Descript::-webkit-scrollbar {
  display: none;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal button {
  background-color: #19baa4;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 380px;
  width: 150px;
  right: 20px;
}

.modal button:hover {
  background-color: #4caf50;
}

/* 카드모달 */
.cardModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.cardModal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  height: 480px;
  min-width: 500px;
  position: relative;
  border-radius: 8px;
}

.cardModalclose {
  position: absolute;
  bottom: 490px;
  right: 3px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.cardModal-title {
  font-size: 24px;
  /* margin-bottom: 10px;
  border-bottom: 1.5px solid #ccc; */
  text-align: center;
  font-weight: 700;
  outline: none;
}

.cardModal-description {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  height: 350px;
  overflow-y: scroll;
  width: 98%;
  outline: none;
}

.cardmodal-title #titleInput {
  display: flexbox;
  width: 95%;
}

.cardModal-description::-webkit-scrollbar {
  display: none;
}

.cardModal-buttons {
  display: flex;
  justify-content: flex-end;
}

.cardModal-delete-btn,
.cardModal-edit-btn {
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  background-color: #f44336;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.cardModal-edit-btn {
  background-color: #4caf50;
}

/* 드롭다운 */

.dropdown {
  position: relative;
}

.dropbtn {
  background-color: white;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown.show .dropdown-content {
  display: block;
}

#TeamRole {
  color: #000;
}

.date {
  text-align: left;
}

#startdate,
#enddate {
  margin: 0;
}

#remaindate {
  display: flex;
}

#remainingDays {
  background-color: #dc7b80;
  color: #fff;
  border: none;
  text-align: center;
}

#addCardBtn {
  position: relative;
  left: 280px;
  top: 8px;
  background-color: #19baa4;
  color: #fff;
  border-color: #19baa4;
  cursor: pointer;
}

.cardModal-title-input {
  background-color: red;
  width: 100%;
}

.cardModal-content label {
  position: absolute;
  bottom: 50px;
}

#statusSelect {
  position: absolute;
  bottom: 54px;
  left: 95px;
}

#dailyIframe {
  height: 680px;
  width: 100%;
}

#invite-div {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 1000;
  display: none;
  width: 310px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: none; /* 초기 상태는 숨김 상태 */
}

#invite {
  background-color: #19baa4;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: #fff;
  position: absolute;
  right: 190px;
  top: 96px;
  font-size: 14px;
}

#invite-div button {
  background-color: #19baa4;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: #fff;
}

#checkEmailBtn {
  position: absolute;
  right: 8px;
  top: 30px;
}

#memberEmailInput {
  width: 250px;
}
