header {
  background-color: #19BAA4;
  color: #fff;
  padding: 10px 0;
}
.header-content {
  display: flex;
  align-items: center;
}
.logo {
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/* 스터디룸생성css */
* {
  box-sizing: border-box;
}
.create-room-bottom {
  background-color: white;
}
.container.createRoom {
  width: 720px;
}
.container {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
}
.createForm {
  padding: 20px 0 140px;
  width: 720px;
}
.create-room-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #2A333C;
  margin-top: 24px;
  margin-bottom: 36px;
  letter-spacing: -1px;
}
.formGroup {
  position: relative;
  padding: 20px 0;
}
.formLabel {
  position: absolute;
  top: 20px;
  left: 0;
  width: 140px;
  margin: 0;
  font-size: 0.95rem;
  font-weight: 500;
  color: #333;
  line-height: 1.1;
  letter-spacing: -0.6px;
  display: inline-block;
}
.passwordtitle {
  position: relative;
  top: 35px;
}
.dateboard {
  top: 30px;
}
#name {
  position: relative;
  bottom: 10px;
}
.formContent {
  position: relative;
  padding-left: 140px;
}
.formContent .formContentLabel:first-child {
  margin: 0 !important;
}
.formContent .formContentLabel.half {
  width: 30%;
}
.formContent .formContentLabel {
  float: left;
  cursor: pointer;
  font-size: 15px;
  color: #3E4345;
  letter-spacing: -0.6px;
}
.formContent .checkbox:checked {
  background-color: #19BAA4;
}
.formContent .checkbox {
  float: left;
  width: 18px;
  height: 18px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  line-height: 1;
  background-size: auto 50%;
}
.checkbox,
.radio {
  padding: 0;
}
.formContent .formContentLabelTx {
  float: left;
  margin: 0;
  font-size: 0.9rem;
  font-weight: normal;
  color: #666;
  line-height: 18px;
}
.formContent {
  position: relative;
  padding-left: 140px;
}
.container.createRoom {
  width: 720px;
}
img {
  min-width: 100%;
}
.create-room-img-area {
  position: relative;
  width: 240px;
  height: 160px;
  border-radius: 4px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.create-room-img-area > img {
  border-radius: 8px;
  max-width: 100%;
  height: 100%;
  width: 100%;
}
.imgEditBtnRec {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  line-height: 1;
}
.imgEditBtnRec .imgEditBtn {
  height: 30px;
  padding: 10px 10px 10px 40px;
  background: rgba(0, 0, 0, 0.3) url(../images/camera.png) -9px center no-repeat;
  background-size: auto 150%;
  border-top-right-radius: 4px;
  font-size: 0.8rem;
  color: white;
  overflow: hidden;
  transition: 200ms ease-out;
  line-height: 30px;
  cursor: pointer;
}
button,
a {
  border: 0;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}
.formContent .inputDate {
  width: 47%;
  color: #333;
  line-height: 14px !important;
  padding: 14px px 16px !important;
}
.formContent .inputField,
.formContent .inputDate,
.formContent .dateDivision,
.formContent .selectBox {
  float: left;
  background-color: white;
}
.form-control.rounded {
  border-radius: 8px;
  border-color: #E1E6EA !important;
  padding: 14px 16px;
  width: 47%;
}
.input-md {
  height: 44px;
}
.text-center {
  text-align: center !important;
}
.flatpickr-input[readonly] {
  cursor: pointer;
}
.flatpickr-input[readonly] {
  cursor: pointer;
}
.formContent .dateDivision {
  width: 6%;
  text-align: center;
  line-height: 44px;
}
.formContent .dateNotice {
  margin-top: 12px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #788DA1;
}
p {
  margin: 0;
}
.formGroup:first-child {
  border: 0;
}
.password-container {
  display: flex;
  align-items: center;
}
.formContent .toggleBtn.password {
  margin: 3px 20px 0 0;
}
.formContent .toggleBtn {
  display: block;
  position: relative;
  float: left;
  width: 36px;
  height: 12px;
  background-color: #E1E6EA;
  border-radius: 12px;
  cursor: inherit;
}
.formContent.textarea textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 240px;
  padding: 16px;
  resize: none;
}
.createForm input[type='text'],
.createForm textarea {
  border-color: #ccc;
}
textarea.form-control {
  height: auto;
}
.createBtnRec .createRoomBtn {
  width: 100%;
  height: 58px;
  line-height: 30px;
  margin: 0;
  border-radius: 8px;
}
.btn-skin {
  border: none;
  color: white;
  background-color: #19BAA4;
}
.btn-lg {
  padding: 14px 50px;
  font-size: 1.1rem;
  font-weight: 500;
}
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 800px; /* 최대 너비 지정 */
  max-height: 800px; /* 최대 높이 지정 */
  overflow: auto; /* 내용이 넘칠 경우 스크롤 생성 */
  width: 400px;
  height: 650px;
}
.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
#previewImage {
  width: 100%;
  min-width: 100%;
  height: 200px;
}
.modal #createStudyBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
#previewContent h1 {
  font-size: 30px;
  margin-left: 8px;
  margin-top: 10px;
  font-weight: 800;
}
#previewContent div {
  margin-top: 30px;
}
#previewContent strong {
  font-size: 18px;
}
#previewContent p {
  font-size: 20px;
  font-weight: 600;
}
.day {
  font-size: 14px !important;
  font-weight: 600 !important;
  background: #D3FFCE;
  border-radius: 100px;
  width: 80px;
  text-align: center;
  color: #19BAA4;
  position: relative;
  bottom: 25px;
  left: 100px;
}
#previewContent .confirm {
  text-align: center;
  margin-top: 65px;
  font-size: 12px;
  color: #666;
}
#max {
  position: relative;
  bottom: 5px;
}
.maxParticipants {
  position: relative;
  top: 25px;
}