/* form css */
form {
    margin: 0 auto;
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 30px;
}
form div {
    margin-bottom: 5px;
}
form div label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
form div input {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #999;
}
form .submitBtn {
    padding-left: 90px;
}
form .submitBtn button {
    margin-left: .5em;
    background: none;
    transition: 0.3s;
}
form .submitBtn button:hover {
    background: #333;
    color: #fff;
}
.btn {
    background: none;
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 10px;
}
.btn:hover {
    background: #333;
    color: #fff;
}